@page
@model ProjectObryckiJustin.Pages.tblEmployee.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/CRUD_Layout.cshtml";
}

<h1>Delete Employee</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblEmployee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.Address)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TblEmployee.EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-primary" asp-page="./Index">Back to List</a>
    </form>
</div>
