@page
@model ProjectObryckiJustin.Pages.tblEmployee.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/CRUD_Layout.cshtml";
}

<h1>Employee Details</h1>

<div>
    <h4>TblEmployee</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TblEmployee.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TblEmployee.Address)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.TblEmployee?.EmployeeId">Edit</a> |
    <a class="btn btn-primary" asp-page="./Index">Back to List</a>
</div>
